/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Variables

******************************************************************/

/*********************
COLORS
Choosing your colors http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$light-gray:        #e5e5e5;
$gray:              #212121;
$med-gray:			#333;
$meta-gray:         #666;
$nav-gray:			#f2f2f2;

$blue:				#0194dd;
$yellow:			#f7c400;
$charcoal:			#3c3c3b;

$text-color:        $charcoal;
$link-color:        $charcoal;
$link-hover:        lighten($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;


.yellow {
	color: $yellow !important;
}

.white {
	color: $white !important;
}