/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Extra Large Monitor Stylesheet

******************************************************************/

.vc_row .wpb_text_column.fw_light {
	font-size: 200%;
}