/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;
}

.bg-fixed {
	
	&.vc_custom_1500288003875 {
		background-position: center top 50px !important;
	}
	
	&.vc_custom_1500288033939 {
		background-position: center !important;
	}
	
	&.vc_custom_1500288074930 {
		background-position: center bottom !important;
	}
}

.force-bottom {
    position: absolute;
    bottom: 0;
}

.cat-nav {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	@include prefix(justify-content, space-evenly, webkit moz ms);
	
	.work-cat-button, .filter-txt {
		border: none;
	}
	
	.cat-position {
		display: block;
		position: absolute;
		width: 5rem;
		height: 4px;
		background: $yellow;
		bottom: 2em;
		@include transition(left 0.3s ease-in-out);
	}
}

.skew-2col {
	.wpb_column {
		width: 100%;
		overflow: hidden;
		
		.skew {
			display: none;
		}
		
		> .vc_column-inner {
			padding-right: 7% !important;
		}
	}
}

.video-wrapper {
	h1 {
		margin-top: 18%;
		font-size: 3em;
	}
}

#team,
.image_hover_100 {
	
	.vc_row {
		width: 50%;
		float: left;
		
		.profile {
			
			p {
				font-size: 0.8em;
			}
		}
	}
}

.image_hover_100 {
	.vc_row {
		width: 100%;
	}
}

.landing-text {
	h2 {
		font-size: 2.2em;
	}
	
	h3 {
		font-size: 1.75em;
	}
}

.vert-align {
	.vc_row &.wpb_text_column {
		padding: 1em 2.3em;
	}
}

.vc_row {
	&.testimonials {
		padding-left: 12%;
		padding-right: 12%;
	}
	
	&.hero_work {		
		.wpb_text_column {
			position: absolute;
			width: 100%;
			top: 50%;
    		transform: translate(0, -40%);
			z-index: 10;
			padding: 3em;
			background: none;
			
			h1 {
				font-size: 4.5em;
			}
			
			h2 {
				font-size: 1.8em;
			}

			a {
				color: inherit;
				font-weight: inherit;
			}
		}
	}
}

.grid-thumbs {
	.wpb_wrapper {
		position: relative;

		&:hover {
			.wpb_text_column {
				opacity: 1;
				visibility: visible;
			}
		}

		.thumb {
			display: block;
			font-size: 0;
		}

		.wpb_text_column {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 3rem;
			background: $yellow;
			opacity: 0;
			visibility: hidden;
			@include transition(all 0.3s ease-in-out);
			@include prefix(display, flex, webit moz ms o);
			@include prefix(align-items, center, webit moz ms o);

			h3, .h3 {
				font-weight: 600;
				font-size: 1.6em;
				margin-bottom: 1rem;
			}
		}
	}
}

.color-blocks {
	.wpb_wrapper {
		max-width: 75%;
    	margin: auto;
	}

	h3, .h3 {
		font-weight: 600;
		font-size: 1.6em;
		margin-bottom: 1rem;
	}
}

.thumb-links {
	.wpb_wrapper {
		position: relative;

		.wpb_text_column {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include prefix(display, flex, webit moz ms o);
			@include prefix(align-items, center, webit moz ms o);
			@include prefix(justify-content, center, webit moz ms o);

			.wpb_wrapper {
				position: relative;
				@include transition(transform 0.14s ease-in-out);

				&:after {
					position: absolute;
					background: darken(#fff, 20%);
					content: '';
					width: 100%;
					height: 100%;
					top: 4px;
					left: 4px;
					z-index: -1;
					opacity: 0;
					@include transition(opacity 0.14s ease-in-out);
				}

				&:hover {
					transform: translate(-4px, -4px);

					&:after {
						opacity: 1;
					}
				}
			}

			p {
				position: relative;
				z-index: 1;
				background: #fff;
				text-align: center;
				margin: 0;
				padding: .75rem 2rem;
				font-weight: 500;
				font-size: 1.2em;
			}

			a {
				font-weight: inherit;
			}
		}
	}
}

.error404 {
	#post-not-found {
		.image404 {
			max-width: 260px;
		}
	}
}

.client-logo {
	width: 25%;
	
	img {
		padding: 40px;
	}
}

.work-vid {	
	.vid-text {
		top: 0.75em;
		left: 1em;
		font-size: 3rem;

		span {
			font-size: 20px;
		}
	}
}

.work_side__col {
	font-size: 75%;
	margin-bottom: 0 !important;
	
	h6 {
		font-size: 1.25em;
	}
	
	h2 {
		margin: 1.14em 0 0.5em;
		padding-bottom: 0.5em;
		
		&:before {
			content: '';
			position: absolute;
			height: 3px;
    		width: 2.75em;
			bottom: 0;
			left: 0;
			background: $yellow;
		}
	}
	
	p {
		margin-bottom: 1.75em;
		max-width: 70%
	}
}

.vc_row-flex.reverse {
	.wpb_column:first-child {
		order: unset;
	}
}

.vc_row .wpb_text_column.fw_light {
	padding: 4em;
	font-size: 100%;
	
	.h3 {
		margin-bottom: .83em;
	}
}

.body_copy {
	h1 {
		font-size: 1.5em;
	}

	.h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, .p, li {
		font-size: 1.35em;
	}
	
	.vc_col-sm-8 {
		width: 100%;
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}

#content {
	margin-top: 0;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: transparent;
	@include transition(all 0.2s ease-in-out);

	&.scrolled {
		@include prefix(box-shadow, 0px 3px 10px -4px rgba(0,0,0,0.56), webkit moz ms);
		background: #fff;
	}
}

.social {
	position: relative;
	float: right;
	right: auto;
	margin-right: 2rem;
}

#logo {
	float: left;
	margin-left: 2rem;
	margin-top: .85rem;
}

.macmillan {
	position: absolute;
	display: block;
	width: 280px;
    left: 50px;
    top: 7px;
	
	img {
		max-width: 100%;
	}
}

.menu-button {
	display: none;
}

/*********************
NAVIGATION STYLES
*********************/

nav.main-menu {
	position: relative;
	width: auto;
	height: auto;
	left: auto;
	right: 1rem;
	top: 7px;
	opacity: 1;
	background: none;
	min-height: auto;
	visibility: visible;
	float: right;
}

.nav {
	width: auto;
	height: auto;
	background: none;
	padding: 0;
	min-height: auto;
	
	li {
		display: inline-block;
		position: relative;
		margin: 0 1.35rem;

		.plus {
			display: none;
		}
		
		&:hover {
			ul.sub-menu,
			ul.children {
				max-height: 500px;
				padding: 1rem;
			}
		}
		
		
		&.menu-item-has-children {
			.plus {
				&:before {
					bottom: 2px;
				}
			}
		}
		
		&.menu-item-has-children:hover {
			.plus {
				&:before {
					@include prefix(transform, rotate(180deg), webkit moz ms o);
				}
			}
		}
		
		a {
			font-weight: bold;
			font-size: 1em;
			color: #000;
			border: none;
			padding: 1rem;
			
			&:hover, &:focus {
				color: $med-gray;
			}
		}

		ul.sub-menu,
		ul.children {
			position: absolute;
			width: 238%;
			padding: 0 1rem;
			margin: 0;
			@include transition(all 0.4s ease-in-out);

			.scrolled & {
				background: white;
				@include prefix(box-shadow, 7px 9px 10px -8px rgba(0, 0, 0, 0.56), webkit moz ms);
			}

			li {
				margin: 0;

				a {
					color: #000;
					padding: 1rem;

					&:hover,
					&:focus {
						color: $med-gray;
					}
				}

				/*
				third level
				*/
				ul {
					top:0;
					left:100%;
				}
			}
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor,
	li.current_page_ancestor {
		a {
			position: relative;

			&:after {
				display: block;
				content: '';
				width: 4rem;
				height: 3px;
				background: $yellow;
				position: absolute;
				left: 50%;
				bottom: 10px;
				margin-left: -2rem;
			}
		}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: 0.75em;
}

.widget {
	padding: 0 10px;
	margin: 2.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			&:first-child {}
			&:last-child {}
			a {}
			/* deep nesting */

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}


/*********************
FOOTER STYLES
*********************/

.copyright a {
	display: inline-block;
}

.corner-bg {
    background-size: contain;
}

.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			
			ul {}
		}
	}
} /* end .footer-links */

